// FONT VARIABLES
$roboto: 'Roboto', sans-serif;

$work-sans: 'Work Sans', sans-serif;


// FONT COLOR VARIABLES

$primary: rgb(235, 29, 41 );

$secondary: #f37338;

$accent: #027878;

$light: #fafafa;

