// FONT VARIABLES
$roboto: 'Roboto', sans-serif;

$work-sans: 'Work Sans', sans-serif;


// FONT COLOR VARIABLES

$primary: rgb(45, 62, 80);

$secondary: rgb(233, 77, 65);

$accent: rgb(242, 196, 22);

$white: rgb(255, 255, 255);

