@import 'setup.scss';
@import 'utils.scss';
@import 'typography.scss';

/* GENERAL STYLES */
html {
    font-size: 62.5%;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

body {
    font-family: $work-sans;
    background: $primary;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $white;
}

section {
    padding: 5% 0;
}

.container {
    width: 79.68%;
    max-width: 1530px;
    margin: 0 auto;
    // background:  white;;
    // padding: 1%;
}

img { 
	max-width: 100%;
	border: 0;
}

a {
    text-decoration: none;
}

// OTHER STYLES
header {
    margin: 3%;
}

.title {
    display: flex;
    justify-content: center;
}

// BACKGROUND STYLES
.center {
    text-align: center;
}

.question { 
    display: flex;
}

form {
    margin: 0 auto;
    // background: white;
    // padding: 5%;
}

form button {
    margin-top: 5%;
}

.option {
    border-radius: 5%;
    margin: 2em;
}

// LABEL STYLES
/* gets rid of default radio labels */
label.option > input {
    visibility: hidden;
}

/* keeps images from going wonky when clicked */
label.option > input + img {
    cursor: pointer;
    border: 10px solid transparent; 
    border-radius: 5%;
}

label.option > input:hover + img {
    cursor: pointer;
    border: 10px solid $primary; 
    border-radius: 5%;
}

// adds border around image when clicked
label.option > input:checked + img {
    border: 10px solid $accent;
    border-radius: 5%;
}

// BUTTON STYLES
button {
    display: block;
    margin: 0 auto;
    color: $white;
    text-transform: uppercase;
    background: $accent;
    border-radius: 50px;
    padding: 16px 65px;
}


// button:hover {
    
// }

